<html>
    <head>
        <title>S blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">S blog</a></h1>
        </div>
        <table>
            <tr>
                <th>Field 1</th>
                ...
                <th>Field N</th>
            </tr>
            {% for item in query_results %}
            <tr>
                <td>{{ item.field1 }}</td>
                ...
                <td>{{ item.fieldN }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>




<table>
    <tr>
        <th>Field 1</th>
        ...
        <th>Field N</th>
    </tr>
    {% for item in query_results %}
    <tr>
        <td>{{ item.field1 }}</td>
        ...
        <td>{{ item.fieldN }}</td>
    </tr>
    {% endfor %}
</table>
